.work-experience-container {
    padding: 80px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    min-height: 300px;
    /*padding-left: 10%;*/
}

h2 {
    margin-bottom: 40px;
}

.experience-list {
    list-style: none;
    padding: 0;
    margin-left: 5%;
}

.experience-item {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 5px;
    font-weight: normal;
    color: #666;
}

p {
    margin-bottom: 5px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
    .work-experience-container {
        padding: 25px;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .experience-list {
        margin-left: 2%;
    }

    .experience-item {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 1em;
        margin-bottom: 3px;
    }

    p {
        font-size: 0.9em;
        margin-bottom: 3px;
    }
}

